<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container" >
    <div class="jumbotron text-center " style = 'background-image: url({{ mars.featured_image_url }});'>
      <h1>MARS</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape!</a></p>
    </div>
  </div>
  <div class="container" >  
    <!-- surf data -->
    <div class="row" >
      <div class="col-md-8 col-md-offset-2" >
          <h2>The Mars Report</h2>
        <!--<img src= {{ mars.featured_image_url }} width: 50% />-->
          <div class="col-sm-6 col-xs-12" >
            <h3>{{ mars.news_title }}</h3>
              <p>{{ mars.news_p }}</p>
          </div>
          <div class="col-sm-6 col-xs-12" >
              {{mars.table_html|safe}}
          </div>
        </div>
          
    </div>
    <div class='row text-center'>
      <div class='col-sm-5 col-sm-offset-3'>
        <h2>Hemispheres</h2>
      </div>
    </div>

    <div class='row text-center'>
      
      <div class='col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1'>
        <div class="panel m-top-75">
          <h3>Cerberus</h3>
          <img src= {{mars.hemisphere_imgs.cerberus}} width=100%>
        </div>
      </div>
      
      <div class='col-sm-5 col-xs-10 col-xs-offset-1'>
        <div class="panel m-top-75">
          <h3>Schiaparelli</h3>
          <img src= {{mars.hemisphere_imgs.schiaparelli}} width=100%>
        </div>
      </div>

    </div>

    <div class='row'>
      
        <div class='col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1'>
          <div class="panel m-top-75">
            <h3>Syrtis Major</h3>
            <img src= {{mars.hemisphere_imgs.syrtis_major}} width=100%>
          </div>
        </div>
        
        <div class='col-sm-5 col-xs-10 col-xs-offset-1'>
          <div class="panel m-top-75">
            <h3>Valles Marineris</h3>
            <img src= {{mars.hemisphere_imgs.valles_marineris}} width=100%>
          </div>
        </div>

      </div>

  </div>

</body>
</html>

